.section__header {
    margin-top: -5rem;
    margin-bottom: 3rem;
    padding-left: 8rem;
}

.ministers__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.card.minister {
    padding: 1rem;
}

.minister__img {
    border-radius: 2rem 2rem;
    overflow: hidden;
}

.minister h3 {
    margin-top: 2rem;
}

.minister p {
    margin-top: 0.5rem;
}

.minister__socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.minister__socials a {
    font-size: 0.7rem;
    background: var(--color-gray-600);
    padding: 0.8rem;
    border-radius: 0.7rem;
    transition: var(--transition);
}

.minister:hover a {
    background: var(--color-gray-500);
}


/* --------------------MEDIA QUERIES (medium screens)-------------------- */
@media screen and (max-width:1024px) {
    .ministers__container {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
}

/* --------------------MEDIA QUERIES (small screens)-------------------- */
@media screen and (max-width:600px) {
    .ministers__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .card.minister {
        width: 90%;
        margin-inline: auto;
    }
}